
@{
                /**/

                ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.ActionLink("Crear (Create)", "Create", "Persona", null, new { @class = "btn btn-primary" })
 <hr />
@Html.ActionLink("Listado (Retrieve)", "listar", "Persona", null, new { @class = "btn btn-primary" })